   {% block head %} {% endblock %}
    <div class="page-title"><h1>BUDGET APP</h1></div><!-- page-title -->
    <!-- navigation enabled while background picture stays still -->
<nav class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand active" href="/login">HOME</a>
        </div><!-- navbar header -->
            <ul class="nav navbar-nav">            
                <li><a href="/spending">SPENDING</a></li>
                <li><a href="/budget">BUDGET</a></li>
                <li><a href="/income">INCOME</a></li>
                <li><a href="/resources">RESOURCES</a></li>
                <li><a href="/coupons">COUPONS</a></li>
            </ul>
</nav
{% block content %}  {% endblock %}